body{
  height: 90vh;
  background-color:rgb(18,19,23);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div {
  width: 40rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 10px;
  background-color: rgb(33,36,43);
  border-radius: 8px;
}

p {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin: 0 10px;
}

button {
  width: 40px;
  height: 35px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: rgb(24,240,139);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.input {
  width: 13rem;
  height: 35px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  background-color: rgb(24,240,139);
  border: none;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.2rem;
}

button:hover {
  background-color: rgb(15, 163, 94);
}

button:active {
  background-color:rgb(15, 163, 94);
}

h1{
  color: white;
  font-size: 50px;
}

span{
  color: rgb(24,240,139);
}

.reset{
  width: 12rem;
  font-size: 1.3rem;
}

input{
  height: 2.2rem;
  width: 2.2rem;
  border: none;
  padding: 0px;
  text-align: center;
}

.contain{
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  align-items: center;
  height: 5rem;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

textarea:focus, input:focus{
    outline: none;
}